.answers {
    border-radius: .2rem;
    overflow: hidden;
    background-color: #fbfbff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: monospace;
}

.answers button {
    margin: auto 0.5rem 0.5rem 0.5rem;
}

@media (min-width: 425px) {
    .answers {
        font-size: 1rem;
    }
}

.title {
    padding: 0.5rem;
    display: block;
    background-color: #f1f1ff;
}

@media (min-width: 425px) {
    .title {
        font-size: 1.25rem;
    }
}

.answer {
    padding: 0 0.5rem;
}

.answer:last-child {
    margin-bottom: 0.5rem;
}

.answer_right {
    font-weight: 700;
    color: blue;
}