.card {
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    transition: all .3s ease 0s;
    opacity: 0;
}

.card:has([class*='hljs']) {
    opacity: 1;
}

@media (min-width: 768px) {
    .card {
        grid-template-columns: 1fr 1fr;
    }
}

.questionAnswer {
    display: grid;
    gap: 1rem;
}

.explanationButtons {
    background-color: #fbfffb;
    border-radius: .2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title {
    display: block;
    background-color: #f1fff1;
    padding: 0.5rem;
}

@media (min-width: 425px) {
    .title {
        font-size: 1.25rem;
    }
}

.explanation {
    padding: 0.5rem;
    text-align: justify;
}

.buttons {
    margin-top: auto;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}