.button {
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    background-color: #6c757d;
    color: #fff;
    font-size: 0.875rem;
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}

@media (any-hover: hover) {
    .button:hover {
        background-color: #212529;
    }
}

.button:active {
    transform: translateY(2px);
}